<div class="contact">
    <h2 class="text-center mb-5">Let's Get In Touch!</h2>
    <%= simple_form_for @contact, url: root_path do |f| %>
      <div class="form-row mb-3">
        <div class="col">
          <%= f.input :name, label: "Name:"%>
        </div>
        <div class="col">
          <%= f.input :email, label: "Email :" %>
        </div>
        <div class="form-group">
          <%= f.input :content, as: :text, label: "Message :" %>
        </div>
      <%= f.button :submit, 'Send', class: "w-96 btn-black" %>
    <% end %>
</div>

