<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Nour: Full-Stack Developer based in Montreal</title>
    <%= csrf_meta_tags %>
    <meta name="description" content="You have an idea and you want to bring it to life and you are looking for someone to help you? I am a Full-Stack Developer who's looking to jump on an amazing project!">
    <meta property="og:title" content="Nour: Full-Stack Developer based in Montreal" />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:image" content="" /> -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body id="page-top">
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
